ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_CHAIN_ID=5042002

PRIVATE_KEY=replace_with_local_testnet_deployer_private_key_do_not_commit_real_value

SIGNALARC_MARKET_QUESTION="Will SignalArc deploy a local prototype to Arc Testnet?"
SIGNALARC_MARKET_CLOSE_TIMESTAMP=replace_with_future_unix_timestamp
SIGNALARC_MARKET_RESOLVER=replace_with_resolver_wallet_address
SIGNALARC_MARKET_COLLATERAL_TOKEN=replace_with_verified_arc_testnet_usdc_erc20_address
BLOCKSCOUT_API_KEY=replace_with_blockscout_api_key_if_required